<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 mt-5">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h5 class="card-title mb-0">New Entry</h5>
        </div>
        <div class="card-body">
          <%= render "form", entry: @entry %>
        </div>
      </div>
    </div>
  </div>
</div>
